* {
  background-color: #20b2aa;
  box-sizing: border-box;
  margin: 0px;
}
.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vw;
  border: 3px solid black;
  padding: 3px;
  margin: 3px;
}
.actual-details {
  display: flex;
  flex-direction: row;
  text-decoration: black;
  align-content: left;
  align-items: center;
  padding: 5px;
  width: 100%;
}
h1 {
  display: flex;
  justify-content: center;
  text-align: center;
}
h2 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.address {
  display: flex;
  justify-content: left;
  align-items: left;
}

h3 {
  top: 5px;
  text-justify: center;
  text-align: center;
  position: sticky;
  text-decoration: underline;
}
footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: black;
  color: white;
  border: 3px solid blue;
  width: 100vw;
  margin: 0px;
  text-align: center;
}
.right-side-details {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 400px;
}
address {
  text-align: left;
}
